body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  background-color: #0F0F0F;
  color: #00FFFF;
  text-align: center;
}
.main-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.glitch {
  animation: glitch 1s infinite;
}
@keyframes glitch {
  0% { text-shadow: 2px 0 red; }
  50% { text-shadow: -2px 0 blue; }
  100% { text-shadow: 2px 0 green; }
}